#timeline { 
    position: fixed;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: orange;
    width: 500px;
    height: 70px;
    bottom: 0px;;
}

#sliderBar {
    width: 10px; 
    height: 70px;
    background-color: teal;
    position: relative;
}

.timeline-unit {
    display: inline-block;
    z-index: -1;
    height: 70px;
    margin-top: -70px;
    border: 1px solid teal;
    border-radius: 12px;
    width: 24px;
    text-align: center;
    line-height: 25px;
    margin-left: 5px;
}
